body{
    background-image: url(abcd.webp);
    display: flex;
    align-items: center;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 2700px;
}



* {
    padding: 0;
    margin: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}



.banner{
    height: 100vh;
    width: 213vh;
    background-position: center;
    background-size: cover;
    height: 100%;
}



.navbar{
    display: flex;
    padding: 1px 10px;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 75px;
    margin-top: 10px;
}



.logo{
    cursor: pointer;
    border-radius: 50%;
    margin-left: 25px;
}


/*ana sayfa vs*/
.navbar ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 25px;
    }




.content{
    width: 100%;
    height: 250px;
    position:absolute;
    top: 40%;
    border-radius: 75px;
    opacity: 0.8;
    text-align: center;
}


/*Türkiye golf federasyonu yazan kısım*/
.content h1 {
    font-size: 65px;
}


/*sponsored by yazan yer*/
.content p {
    margin: 20px auto;
}



button{
    width: 200px;
    padding: 15px 0;
    clear: both;
}



button{
    border-radius: 30px;
    margin: 1px 1px 1px 1px;
    text-align: center;
    font-size: 17px;
    position: relative;
}



button:hover{
    transition: 1s;
    background-color:#8EC3B0;
    box-shadow: 5px 5px #BCEAD5;

}



        

